* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 4.5em;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 1.25em;
}

.header--image {
    height: 100%;
    margin-right: 0.4em;
}

.header--title {
    font-size: 1.5rem;
    margin-right: auto;
}

.form {
    display: grid;
    grid-template: 2.5em 2.5em/ 1fr 1fr;
    gap: 1em;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: .3em;
    border: 1px solid D5D4D8;
    text-indent: .3em;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: .3em;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}